@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'AzarMehr';
  src: url("../../public/home-page/font/AzarMehr-DS2-FD-Bold.ttf") format('truetype');
  font-weight: 700; /* Bold weight */
  font-style: normal;
}

@font-face {
  font-family: 'AzarMehr';
  src: url("../../public/home-page/font/AzarMehr-FD[DSTY\,KSHD\,wght].ttf") format('truetype');
  font-weight: 400; /* Normal weight */
  font-style: normal;
}
@font-face {
  font-family: rokh;

  src: url("../../public/home-page/font/RokhFaNum-Bold.ttf");
}

@font-face {
    font-family: rokh-ebold;
  
    src: url("../../public/home-page/font/RokhFaNum-ExtraBold.ttf");
  }

.border-s{
  @apply border-t-2 border-pink-600
}
.inner-shadow-dark{
  box-shadow: inset 0 0 6px 0 rgba(0, 0, 0, 0.37);
}
.inner-shadow-c{
  @apply  inner-shadow-dark
}


.sidenav {
  @apply h-full w-0 top-0 right-0  hidden  lg:w-[75px] transition-[1.5s] duration-300 text-right fixed z-10  lg:flex flex-col  items-center pt-0 bg-[#FCFCFC] dark:bg-[#1A1A18]  
}
.sidnav-t{
  @apply transition-[1.5s] duration-300 w-[87%] lg:w-[25%] xl:w-[20%] 2xl:w-[17%]  fixed  h-full z-50 top-0  right-0 
}
.main-content-smallNav{
  @apply w-full lg:w-[93%] xl:w-[95%] 2xl:w-[96%] 3xl:w-[97%]  lg:mr-auto transition-[0.5s] duration-300 
}
.main-content-activeNav{
  @apply w-full  lg:w-[75%] xl:w-[80%] 2xl:w-[83%] lg:mr-auto transition-[0.5s] duration-300 blur-sm lg:blur-0 
}
.modal-avatar-smallNav{
  @apply left-0 lg:w-[93%] xl:w-[95%] 2xl:w-[96%] 3xl:w-[96%]  lg:mr-auto transition-[0.5s] duration-300
}
.modal-avatar-activeNav{
  @apply w-full mt-[-55px] left-0
}

#open-nav-btn{
  @apply   lg:w-10 lg:h-10 p-3 lg:px-2 rounded-full cursor-pointer flex lg:justify-center  z-50
}


/* tree view menu */
.tree {
  direction: rtl;
}

.tree input {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}


.tree input~ul {
  display: none;
  padding-right: 20px;
}

.tree input:checked~ul {
  display: block;
}

/* ————————————————————–
Tree rows
*/
.tree li {
  line-height: 1.2;
  position: relative;
}

.tree ul li {
  padding: 0 1em 0 0;
}

/* تغییر در اینجا */
.tree>li:last-child {
  padding-bottom: 0;
}

/* ————————————————————–
Tree labels
*/
.tree_label {
  position: relative;
  display: inline-block;
  font-weight: bold;
  border-radius: 10px;
  padding: 14px;
}

label.tree_label {
  cursor: pointer;
}

/* ————————————————————–
Tree expanded icon
*/
label.tree_label:before {
  position: relative;
  z-index: 1;
  float: left;
  /* تغییر در اینجا */
  width: 1em;
  height: 1em;
  border-radius: 1em;
  content: '+';
  text-align: center;
  line-height: .9em;
  font-weight: bolder;
  font-size: 20px;
}

:checked~label.tree_label:before {
  content: '– ';
  
}
/* ————————————————————–
Tree branches
*/
.tree li:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: auto;
  /* تغییر در اینجا */
  right: -.5em;
  /* تغییر در اینجا */
  display: block;
  width: 0;
  border-bottom: 2px solid;
  border-right: 2px solid;
  border-radius: 0 0 .89em 0;
  content: "";
  border-color: #868B90;
}

.treedark li:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: auto;
  /* تغییر در اینجا */
  right: -.5em;
  /* تغییر در اینجا */
  display: block;
  width: 0;
  border-bottom: 2px solid red;
  border-right: 2px solid red;
  border-radius: 0 0 .89em 0;
  content: "";
}

.tree_label:after {
  position: absolute;
  top: 0;
  left: auto;
  /* تغییر در اینجا */
  right: -1.5em;
  /* تغییر در اینجا */
  display: block;
  height: 0.5em;
  width: 1em;
  content: '';
}

label.tree_label:after {
  border-bottom: 2px solid;
  border-right: 2px solid;
  border-color: #868B90;
  border-radius: 0 0 45px 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  bottom: 0;
  top: 0;
  /* 0.5em بود  */
}

:checked~label.tree_label:after {
  height: auto;
}

.tree li:last-child:before {
  height: 1em;
  bottom: auto;
}

.tree>li:last-child:before {
  display: none;
}

.tree_custom {
  display: block;
  background: #eee;
  padding: 1em;
  border-radius: 0.9em;
}






.like {
  direction: rtl;
}

.like input {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}
.like_label {
  position: relative;
  display: inline-block;
  font-weight: bold;
  border-radius: 10px;
  padding: 14px;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.more-items{
 display: none;
}

.load-more{

}
.more-items2{
  display: none;
 }
 
 .load-more2{
 
 }
 .more-items3{
  display: none;
 }
 
 .load-more3{
 
 }
 .more-items4{
  display: none;
 }
 
 .load-more4{
 
 }
 .more-com{
  display: none;
 }
 
 .load-more-c{
 
 }

 .zoomable {
  position: relative;
  overflow: hidden;

}
.zoomable__img {
  transform-origin: var(--zoom-pos-x, 0%) var(--zoom-pos-y, 0%);
  transition: transform 0.15s linear;
}
.zoomable--zoomed .zoomable__img {
  cursor: zoom-in;
  transform: scale(var(--zoom, 2));
}
@layer components {
  .hidden {
    display: none;
  }

  .block {
    display: block;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  .fade-in {
    animation: fadeIn 0.5s ease-out forwards;
    display: block;
  }

  .fade-out {
    animation: fadeOut 0.5s ease-out forwards;
  }
}
input[type="range"] {
    box-sizing: border-box;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    width: 100%;
    margin: 0;
    padding: 0 2px;
    /* Add some L/R padding to ensure box shadow of handle is shown */
    overflow: hidden;
    border: 0;
    border-radius: 1px;
    outline: none;
    background: linear-gradient(grey, grey) no-repeat center;
    /* Use a linear gradient to generate only the 2px height background */
    background-size: 100% 2px;
    pointer-events: none;
  }
  input[type="range"]:active,
  input[type="range"]:focus {
    outline: none;
  }
  input[type="range"]::-webkit-slider-thumb {
    height: 28px;
    width: 28px;
    border-radius: 28px;
    background-color: #fff;
    position: relative;
    margin: 5px 0;
    /* Add some margin to ensure box shadow is shown */
    cursor: pointer;
    -webkit-appearance: none;
            appearance: none;
    pointer-events: all;
    box-shadow: 0 1px 4px 0.5px rgba(0, 0, 0, 0.25);
  }
  input[type="range"]::-webkit-slider-thumb::before {
    content: " ";
    display: block;
    position: absolute;
    top: 13px;
    left: 100%;
    width: 2000px;
    height: 2px;
  }
  .multi-range {
    position: relative;
    height: 50px;
  }
  .multi-range input[type="range"] {
    position: absolute;
  }
  .multi-range input[type="range"]:nth-child(1)::-webkit-slider-thumb::before {
    background-color: red;
  }
  .multi-range input[type="range"]:nth-child(2) {
    background: none;
  }
  .multi-range input[type="range"]:nth-child(2)::-webkit-slider-thumb::before {
    background-color: grey;
  }
  :disabled{
    opacity:40%;
  }
  button:active{
    scale: 1.04;
    transition-duration: 300ms;
  }
  .nav-link.active{
    background-color: white;
    color: #000BEE;
  }
  .dark .nav-link.active{
    background-color: #1A1A18;
    color: #E59819;
  }
  .step.completed span{
    background-color: #06CC85;
    padding: 8px;
  }
  .step.completed span svg{
    display: block;
  }
  .step.not-completed span{
    background-color: red;
  }
  .focus\:ring-transparent:focus {
    --tw-ring-color: transparent;
  }
  .sortbtn.active{
    color: #000BEE;
  }
  .dark .sortbtn.active{
    color: #E59819;
  }
  .text-head{
    font-size: 50px;
  }
  @media only screen and (max-width: 800px) {
    .text-head {
      font-size: 32px;
    }
  }
  @media (min-width: 1850px) {
    .mt-250{
      margin-top: -250px;
    }
  }
  #avatar-container {
    @apply w-full h-screen  lg:w-[40%] lg:h-[35vh]
  }
 
  .ad-section {
    position: relative;
    padding: 40px;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
    background: linear-gradient(135deg, #ECF4FE, #CDD6FC); /* گرادیانت لایت */
    color: #333333; /* متن تیره */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* سایه برای عمق */
    transition: all 0.3s ease-in-out;
  }
  
  
  /* استایل دارک مود */
  .dark .ad-section {
    background: linear-gradient(135deg, rgba(255, 199, 0, 0.4), rgba(255, 245, 200, 0.7));
    color: #FFFFFF; /* متن سفید */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.6); /* سایه تیره */
  }
  

  
  .ad-section .background-shapes {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }
  
  .ad-section .shape {
    position: absolute;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.3); /* دایره‌ها نیمه‌شفاف */
    animation: moveShapes 20s ease-in-out infinite;
  }
  
  .ad-section .shape:nth-child(1) {
    width: 200px;
    height: 200px;
    top: 10%;
    left: 20%;
  }
  
  .ad-section .shape:nth-child(2) {
    width: 300px;
    height: 300px;
    top: 50%;
    left: 70%;
  }
  
  .ad-section .shape:nth-child(3) {
    width: 150px;
    height: 150px;
    top: 80%;
    left: 40%;
  }
  
  @keyframes moveShapes {
    0% {
      transform: translateY(0) rotate(0deg);
    }
    50% {
      transform: translateY(-20px) rotate(180deg);
    }
    100% {
      transform: translateY(0) rotate(360deg);
    }
  }
  